/* Estilos para la tabla */
/*.table-view {
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: #f0f0f0;
}

.table-cell {
    -fx-alignment: CENTER;
}
/* Estilos para las celdas de cantidad */
/*.table-cell .cantidad-red {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
}

/* Estilos para los botones 
.button {
    -fx-background-color: #4caf50;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #3c903c;
}

/* Estilos para los textfields 
.text-field {
    -fx-background-color: #ffffff;
}

/* Estilos para el combobox 
.combo-box {
    -fx-background-color: #ffffff;
}

/* Estilos para las alerta
.alert {
    -fx-background-color: #ffffff;
}

.alert .dialog-pane {
    -fx-background-color: #ffffff;
}

.alert .dialog-pane .content-label {
    -fx-text-fill: #000000;
}

.alert .button-bar .button {
    -fx-background-color: #4caf50;
    -fx-text-fill: #ffffff;
}

.alert .button-bar .button:hover {
    -fx-background-color: #45a049;
}

.alert .button-bar .button:pressed {
    -fx-background-color: #3c903c;
}*/
#AnchorPane {
    -fx-background-color: #F0F8FF;
}

#AnchorPane .table-view {
    -fx-background-color: #FFFFFF;
}

#AnchorPane .table-column {
    -fx-alignment: center; /* Centrar el contenido de las columnas */
}


#AnchorPane .text{
    -fx-fill: #000080;
}

#AnchorPane  .button .text{
    -fx-fill: white;
}

#AnchorPane .text-field {
    -fx-background-color: #BFD8F9;
    -fx-text-fill: #000080;
    -fx-font-size: 16px; /* Aumentar el tamaño de fuente de los campos de texto */
}

#AnchorPane .combo-box {
    -fx-background-color: #BFD8F9;
    -fx-text-fill: #000080;
}

#AnchorPane .button {
    -fx-background-color: #000080;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px; /* Aumentar el tamaño de fuente de los botones */
}

#AnchorPane .button:hover {
    -fx-background-color: #0000FF;
}